body {
  padding: 30px 0px 0px 0px;
  z-index: 0;
}

.navbar-dark {
  background-color: #512DA8;
}
.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: #D1C4ED;
  margin: 0px auto;
  padding: 20px 0px;
}

.jumbotron {
  padding: 40px 30px;
  margin: 0px auto;
  background: #9575CD;
}

address .fa {
  margin: 3px 3px;
  padding: 3px;
  font-size: 20px;
  text-align: center;
}
address .fa-link {
  font-size: 95%;
}
address .fa-envelope {
  font-size: 95%;
}

.social {
  margin: 3px 10px;
}
.social.fa {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-youtube {
  background: white;
  color: red;
}
.social.fa-envelope {
  background: white;
  color: #9575CD;
}
.fa:hover {
  opacity: 0.7;
}

.carousel {
  background: #512DA8;
}
.carousel-item {
  height: 340px;
}
.carousel-item img { 
  position: absolute;
  top: 30px;
  left: 40px;
  height: 280px;  
} 

.carousel-caption {
  position: absolute;
  left: 330px;
  bottom: 50px;
  text-align:  start;
}

.carousel-caption h2 {
  margin-bottom: 30px;
}

.carousel-caption p {
  font-style: italic;
}

.carousel-control-prev-icon {
  position: absolute;
  left: 10px;
}
.carousel-control-next-icon {
  position: absolute;
  right: 10px;
}

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1;
}